<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="build/app.min.js"></script>
		<link rel="stylesheet" href="node_modules/bootstrap//dist/css/bootstrap.css">

	<link rel="stylesheet" href="build/main.min.css">
</head>
<body ng-app="ngApp" ng-controller="isCtrl">
	
	<div class="div-body">
		<div class="div-title grid_12">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <div class="navbar-header">
					<a class="navbar-brand" >ngTool</a>
			    </div>
			  </div>
			</nav>
		</div>
		<div class="div-menu grid_4">
			<div class="list-group">
				<a
					ng-repeat="item in menu"
					class="list-group-item"
					ng-class="{active:active === $index}"
					ng-click="changeActive($index)">
						{{item.name}}
				</a>
			</div>
		</div>
		<div class="div-view grid_8" ng-view></div>
	</div>
</body>

</html>