@mixin position($top,$right,$bottom,$left) {
	top   : $top;
	right : $right;
	bottom: $bottom;
	left  : $left;

}

.div-body {
	position: absolute;
	@include position(0,0,0,0);
	.div-title{
		height: 75px;
		padding: 10px 20px;
	}
	.div-menu {
		position: absolute;
		@include position(75px,null,0,0);
		width: 300px;
		padding: 10px 20px
	}
	.div-view {
		position: absolute;
		@include position(75px,0,0,300px);
		padding: 10px 20px
	}
}