

.ulBox {
    white-space: nowrap;

}

<<<<<<< HEAD:src/ngToolTreeView/_ngToolTreeViewCss.scss
.ulBox {
    -webkit-padding-start:0px;
    padding-left:25px;
    li {
        list-style: none;
        line-height: 30px;
        font-weight:normal;
        span.iconBox{
            cursor: pointer;
        }
        span.nodeTxt:hover{
            font-weight: bold;
            cursor: pointer;
        };
        span.text-muted:hover {
             font-weight:normal;
             cursor: no-drop;
        }
    }
=======
.TvStyle ul {
    /*margin-left: 15px;*/
}

.TvStyle li {
    list-style: none;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.imgstyle {
    width: 16px;
    height: 16px;
    margin-top: -2px;
}

.txt {
    width: 15px;
    display: inline-block;
}

.closeArrow {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../App/UI/TreeView/arrow_right.png');
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
>>>>>>> parent of 6de9c41... merge:src/ngToolTreeView/ngToolTreeView.scss
}

.openArrow {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../App/UI/TreeView/arrow_down.png');
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.jqxtreeitem:hover {
    color: #ffffff;
    border-color: #0081c2;
    text-decoration: none;
    background-color: #0081c2;

    outline: 0;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-position: 0 0;
}

.jqxtreeitem {
    line-height: 27px;
    text-indent: 0;
    padding: 2px 3px 2px 2px;
    float: none;
    overflow: hidden;
    right: 0;
    text-align: left;
    text-decoration: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.jqxtreeitemclick {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #003399;
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
