

.ulBox {
    white-space: nowrap;
}

.ulBox {
    -webkit-padding-start:0px;
    padding-left:25px;
    li {
        list-style: none;
        line-height: 30px;
        font-weight:normal;
        span.iconBox{
            cursor: pointer;
        }
        span.nodeTxt:hover{
            font-weight: bold;
            cursor: pointer;
        };
        span.text-muted:hover {
             font-weight:normal;
             cursor: no-drop;
        }
    }
}

.iconBox {
    width:15px;
    display:inline-block;
   .glyphicon{
          font-size: 12px;
          top:0;
      }
}



