.ulBox {
    white-space: nowrap;
}

.ulBox {
    -webkit-padding-start:0px;
    padding-left:25px;
    li {
        list-style: none;
            cursor: pointer;
            line-height: 30px;
           color: rgb(66, 139, 202);
            font-weight:normal;
            &:hover{
                color: rgb(51, 107, 155);
                font-weight: bold;
            };
    }
}

.iconBox {
    width:15px;
    display:inline-block;
   .glyphicon{
          font-size: 12px;
          top:0;
      }
}



