<ul class="ulBox">
    <li ng-repeat ="item in rsource|treeFil:pid" >
        <span ng-show="item.isParents" ng-click="arrowClick(item, $index)">
            <i
                class="glyphicon"
                ng-class="{true:'glyphicon-minus',false:'glyphicon-plus'}[item.isOpen]"></i>
        </span>
        <span ng-class="{txt:!item.isParents}"></span>
        <span
            ng-hide="item.disabled"
            ng-class="{'btn btn-primary btn-xs':item.isSelect}"
            ng-click="rclick({data:item})">
             <i class="{{item.icon}}"></i>
             {{item.Name}}_{{item.NodeID}}
        </span>
        <span
            ng-show="item.disabled"
            class="text-muted" >
            <i class="{{item.icon}}"></i>
            {{item.Name}}_{{item.NodeID}}
        </span>
        <span
            ng-if="item.isOpen"
            ng-include="'treeTemplate.html'">
        </span>
    </li>
</ul>


<script type="text/ng-template" id="treeTemplate.html">
    <span
        tree-repeat
        rsource='rsource'
        rclick='rclick({data:data})'
        pid='item.NodeID'
        class='TvStyle'></span>
</script>