<h1>側欄</h1>
<hr>


<button class="btn btn-default"  ng-click="ngSidebar.event('top')">
	上方
</button>
<button class="btn btn-default"  ng-click="ngSidebar.event('right')">
	右側
</button>
<button class="btn btn-default"  ng-click="ngSidebar.event('bottom')">
	下方
</button>
<button class="btn btn-default"  ng-click="ngSidebar.event('left')">
	左側
</button>

<div ng-sidebar
		is-switch="ngSidebar.data.isSwitch"
		is-direction="ngSidebar.data.isDirection"
		is-width="ngSidebar.data.isWidth"
		on-load-event = "ngSidebar.data.load()">
		<h1>TITLE</h1>
		<hr>
	 	<div>彈出內容</div>	
		<button class="btn btn-default" ng-click="ngSidebar.data.isSwitch=false">
		 	關閉
		</button>
</div>